/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css?family=Montserrat:900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 20px auto;
}

.text {
  color: red;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 8vw;
  white-space: nowrap;
  letter-spacing: 0.5vh;
  text-align: center;
  line-height: 0.8;
}

.editor {
  cursor: pointer;
}

.outline {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5vw;
  -webkit-text-stroke-color: red;
}

@media (min-width: 600px) {
  .outline {
    -webkit-text-stroke-width: 0.4vw;  
  }
}
